<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Engine Backend</title>
</head>

<body>
    <h1>Users</h1>
    <ul>
        <% let users=JSON.parse(data); %>
            <% users.forEach(user=> { %>
                <li>
                    <%= user.email %> - <%= user.firstName %>
                            <%= user.lastName %>
                </li>
                <% }); %>
    </ul>
</body>

</html>